<section class="section-home">
          <h1>Why is Italy the best?</h1>
    </section> 
<h4>Because PIZZA!</h1>
<h5>Why does everybody love pizza?</h5>
<h6>cheap and easy to eat!</h6>
<p>Nothing satisfies for so little money. That's why a slice and a salad is the perfect lunch break. It's something quick and easy that tastes great and fills you up. It's sold everywhere and you can usually get a big slice for just a few dollars.</p>
<h6>A common food experience!</h6>
<p>Most Italian dishes such as hamburgers and hot dogs are solitary meals. Pizza can be a solitary meal, but it can also be a good common dish. It is an inexpensive way for 3 or 4 people to eat together. It's also great for parties and kids love it. A couple of pies can make a lot of little tummies happy.</p>
<h6>Great with beer!</h6>
<p>A warm slice goes perfectly with beer. The day of the year when Italians order the most is during the Champion's league. It is also a favourite place for bars and for a snack after the bar to soak up the alcohol. It must be something about the saltiness of the cheese and the refreshing taste of the beer.</p>