<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
     {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    <title>{{ pageTitle }}</title>
</head>
<body>
    {{#if recipeTrue}}
    <nav>
         <a href="/">Home</a>
        <a href="about">about</a>
    </nav>
{{else}}
    <nav>
        <a href="/">Home</a>
        <a href="recipe">Recipe</a>
        <a href="about">about</a>
    </nav>
{{/if}}

    {{{body}}}
</body>
</html>