    <section class="section1">
          <h1>Apple Pie</h1>
    </section> 
    <section>
     <p class="intro-p">This was my grandmother's pizza recipe. I have never seen another one quite like it. It will always
                        be my favorite and has won me several first place prizes in local competitions. I hope it becomes one of your
                        favorites as well!</p>
      <img class="recipe-info" src="/img/recipe-info.png">
      <hr></hr>
    </section>

    <section class="section2">
    <h2>Ingredients</h2> 
    <ul>
      <li>- 1 1/2 cups (355 ml) warm water (105°F-115°F)</li>
      <li>- 1 package (2 1/4 teaspoons) of active dry yeast</li>
      <li>- 3 3/4 cups (490 g) bread flour</li>
      <li>- 2 tablespoons extra virgin olive oil (omit if cooking pizza in a wood-fired pizza oven)</li>
      <li>- 2 teaspoons salt</li>
      <li>- 1 teaspoon sugar</li>
      <li>- Parmesan cheese, grated</li>
      <li>- Fresh soft mozzarella cheese, separated into small clumps</li>
      <li>- Mushrooms, very thinly sliced if raw, otherwise first sautéed</li> 
    </ul>
    </section>
        <img class='cooking-info' src="/img/cooking-info.png">

              <hr></hr>
    <section class="section3">
    <h2>Directions</h2> 
    <ol>
      <li>1) Place a pizza stone on a rack in the lower third of your oven. Preheat the oven to 475°F (245°C) for at least 30 minutes, preferably an hour. If you don't have a pizza stone, you can use a pizza pan or a thick baking sheet; you need something that will not warp at high temperatures.</li>
      <li>2)Remove the plastic cover from the dough. Dust your hands with flour and push the dough down so it deflates a bit. Divide the dough in half. Remove the plastic cover from the dough. Dust your hands with flour and push the dough down so it deflates a bit. Divide the dough in half.</li>
      <li>3) Prepare your desired toppings. Note that you are not going to want to load up each pizza with a lot of toppings as the crust will end up not crisp that way. About a third a cup each of tomato sauce and cheese would be sufficient for one pizza. One to two mushrooms thinly sliced will cover a pizza.</li>
      <li>4) Working one ball of dough at a time, take one ball of dough and flatten it with your hands on a lightly floured work surface. Starting at the center and working outwards, use your fingertips to press the dough to 1/2-inch thick. Turn and stretch the dough until it will not stretch further.</li>  
      <li>5) Use your fingertips to press down and make dents along the surface of the dough to prevent bubbling. Brush the top of the dough with olive oil (to prevent it from getting soggy from the toppings). Let rest another 10-15 minutes.</li>
      <li>6) Lightly sprinkle your pizza peel (or flat baking sheet) with cornmeal. (The corn meal will act as little ball bearings to help move the pizza from the pizza peel into the oven.)</li>
      <li>7) Spoon on the tomato sauce, sprinkle with cheese, and place your desired toppings on the pizza.</li>
      <li>8) Sprinkle some cornmeal on the baking stone in the oven (watch your hands, the oven is hot!). Gently shake the peel to see if the dough will easily slide, if not, gently lift up the edges of the pizza and add a bit more cornmeal. Slide the pizza off of the peel and onto the baking stone in the oven.</li>
      <li>9) Bake pizza in the 475°F (245°C) oven, one at a time, until the crust is browned and the cheese is golden, about 10-15 minutes. If you want, toward the end of the cooking time you can sprinkle on a little more cheese.</li>
    </ol>
    </section>